name: action_test_demo01 Scan and Upload Results

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  scan-and-upload:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: install tools
        run: |
          pip install requests
          git clone https://github.com/0xKayala/NucleiFuzzer.git && cd NucleiFuzzer && sudo chmod +x install.sh && ./install.sh && (command -v nf &> /dev/null && nf -h || echo "Installation failed: Command 'nf' not found. Please check for errors during installation.") && cd .. || echo "Failed to clone or navigate to NucleiFuzzer repository. Please check your setup."
          ls -al
          nf -f url.txt

      - name: Compress action_test_demo01 directory
        run: |
          ls -alh
          cd ..
          tar -czvf action_test_demo01.tar.gz action_test_demo01
          ls -alh
          mv action_test_demo01.tar.gz action_test_demo01
          cd action_test_demo01
          ls -alh

      - name: Upload compressed results
        uses: actions/upload-artifact@v4
        with:
          name: action_test_demo01-results
          path: action_test_demo01.tar.gz
          if-no-files-found: error
          retention-days: 7
          compression-level: 6
          overwrite: false
          include-hidden-files: false
    
